{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block home %}
{% if user.is_authenticated %}
    <div class="container mt-3">
        <a href="{% url 'catalog:product_create' %}" class="btn btn-success">➕ Создать продукт</a>
    </div>
{% endif %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">БабкаStore</h1>
    <p class="lead">БабкаStore - это отличный вариант получения натуральных продуктов,
        которые вы бы хотели не только собственного, но и иностранного рынков
    </p>
</div>

<div class="container mb-5">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center py-5 g-4">
        {% for object in object_list %}
        <div class="col">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title">{{ object.price }} руб
                        <small class="text-body-secondary fw-light">/кг</small>
                    </h1>
                    <!--Картинка-->
                    <img src="{{ object.photo | media }}" class="img-fluid">

                    <ul class="list-unstyled mt-3 mb-4 flex-grow-1">
                        <li>{{ object.category }}</li>
                    </ul>

                    <ul class="list-unstyled mt-3 mb-4 flex-grow-1">
                        <li>{{ object.description|truncatechars:100 }}</li>
                    </ul>
                    <a href="{% url 'catalog:catalog_info' object.pk %}" class="w-100 btn btn-lg btn-primary mt-auto">Информация</a>

                </div>
            </div>
        </div>
        {% empty %}
        <p>Товаров пока нет.</p>
        {% endfor %}

    </div>
</div>

{% endblock %}
